langchain
langchain_community
langchain-openai
chainlit
openai
requests
pygithub
python-dotenv
langchain_openai
openai
transformers
torch
pydantic
requests
GitPython
faiss-cpu
azure-core
azure-search-documents
azure-identity